.tag {
	padding: 8px 12px;
	color: var(--color-text-primary);
	font-weight: 400;
	font-size: 12px;
	font-family: var(--font-roboto), serif;
	line-height: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 20px;
}
