.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	padding: 11px 0;
	font-weight: 400;
	font-size: 16px;
	font-family: var(--font-roboto);
	line-height: 24px;
	border: 1px solid transparent;
	border-radius: 12px;
	cursor: pointer;
}

.primary {
	color: var(--color-text-primary);
	background-color: var(--color-accent);
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: var(--color-button-hover);
	}

	&:active {
		color: var(--color-surface);
		background-color: var(--color-primary-pressed);
	}

	&:disabled {
		color: var(--color-text-caption);
		background-color: var(--color-disabled);
		border-color: transparent;
	}
}

.secondary {
	color: var(--color-text-primary);
	background-color: var(--color-surface);
	border: 1px solid var(--color-accent);
	transition: all 0.3s ease-in-out;

	&:hover {
		color: var(--color-text-caption);
		border: 1px solid var(--color-button-hover);
	}

	&:active {
		color: var(--color-text-primary);
		border: 1px solid var(--color-primary-pressed);
	}

	&:disabled {
		color: var(--color-text-disabled);
		border: 1px solid var(--color-disabled);
	}
}

.tertiary {
	color: var(--color-text-primary);
	background-color: var(--color-surface);
	transition: all 0.3s ease-in-out;

	&:hover {
		border-color: var(--color-text-primary);
	}
}
