.button {
  padding: 12px 84.5px;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-roboto);
  line-height: 24px;
  letter-spacing: 2%;
  border: none;
  border-radius: 16px;
}

.primary {
  color: var(--color-text-primary);
  background-color: var(--color-accent);

  &:hover {
    background-color: var(--color-button-hover);
  }

  &:active {
    color: var(--color-surface);
    background-color: var(--color-primary-pressed);
  }

   &:disabled {
    color: var(--color-text-caption);
    background-color: var(--color-disabled);
    border: none;
  }
}

.secondary {
  color: var(--color-text-primary);
  background-color: var(--color-surface);
  border: 1px solid var(--color-accent);

  &:hover {
    color: var(--color-text-caption);
    border: 1px solid var(--color-button-hover);
  }

  &:active {
    color: var(--color-text-primary);
    border: 1px solid var(--color-primary-pressed);
  }

  &:disabled {
    color: var(--color-text-disabled);
    border: 1px solid var(--color-disabled);
  }
}

.tertiary {
  color: var(--color-text-primary);
  background-color: var(--color-surface);
}

.small {
  padding: 8px 12px;
}

.medium {
  padding: 12px 32px;
}

.large {
  padding: 12px 84.5px;
}