.button {
  border: none;
  border-radius: 16px;
  padding: 12px 84.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;

  &:disabled {
    background-color: #E4E8DF;
    color: #69735D;
    border: none;
  }
}

.primary {
  background-color: #ABD27A;
  color: #253017;

  &:hover {
    background-color: #DEEBC5;
  }

  &:active {
    background-color: #508826;
    color: #FFFFFF;
  }
}

.secondary {
  background-color: #FFFFFF;
  color: #253017;
  border: 1px solid #ABD27A;

  &:hover {
    border: none;
    color: #69735D;
  }

  &:active {
    border: 1px solid #508826;
  }
}

.tertiary {
  background-color: #FFFFFF;
  color: #253017;
}

.small {
  padding: 8px 12px;
}

.medium {
  padding: 12px 32px;
}

.large {
  padding: 12px 84.5px;
}