.label {
	display: block;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border-radius: 25%;
	cursor: pointer;

	.icon {
		color: var(--color-text-primary);
		pointer-events: none;
	}

	.icon path {
		transition: all 0.3s ease-in-out;
	}
}

.checkbox {
	display: none;
}
