.button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;

  .icon {
    color: var(--color-text-primary);
    cursor: pointer;
  }
  
  .icon path {
    transition: all 0.3s ease-in-out;
  }
}