.container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
	min-height: 76px;
	color: var(--color-text-primary);
	font-family: var(--font-roboto), serif;
}

.label {
	display: flex;
	align-items: center;
	height: 24px;
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 20px;
}

.inputContainer {
	position: relative;
}

.input {
	width: 100%;
	height: 48px;
	padding: 10px 44px 10px 20px;
	color: var(--color-text-primary);
	font-size: 16px;
	font-family: inherit;
	background: none;
	border: 1px solid var(--color-text-caption);
	border-radius: 12px;
	outline: none;
	transition: border-color 0.2s;
	resize: none;

	&:focus {
		border-color: var(--color-primary);
	}

	&::placeholder {
		color: var(--color-text-caption);
	}

	&[readonly] {
		color: var(--color-text-primary);
		cursor: text;
	}

	&.textarea {
		height: auto;
		min-height: 120px;
		padding: 12px 44px 12px 20px;
		line-height: 1.5;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			margin: 8px 0;
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--color-disabled);
			border-radius: 2px;
		}
	}
}

.iconWrapper {
	position: absolute;
	top: 50%;
	right: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transform: translateY(-50%);

	.textarea ~ & {
		top: 50%;
		align-items: flex-start;
		height: auto;
		padding-top: 12px;
		transform: translateY(-50%);
	}
}

.editIcon {
	&:hover {
		opacity: 0.8;
	}
}

.editButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	color: var(--color-text-caption);
	font-size: 14px;
	background: var(--color-primary);
	border: none;
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		background: var(--color-primary-dark);
	}

	.textarea ~ .iconWrapper & {
		position: relative;
		top: 0;
	}
}

.error {
	border-color: var(--color-error);
}

.errorMessage {
	margin-top: 4px;
	color: var(--color-error);
	font-size: 12px;
	line-height: 16px;
}
