.container {
	width: 100%;
	color: var(--color-text-primary);
	font-family: var(--font-roboto), serif;
}

.label {
	display: flex;
	align-items: center;
	height: 24px;
	margin-bottom: 4px;
}

.dropdown {
	position: relative;
}

.button {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 48px;
	padding: 10px 20px;
	color: var(--color-text-primary);
	font-size: inherit;
	font-family: inherit;
	background: none;
	border: 1px solid var(--color-text-caption);
	border-radius: 12px;
	cursor: pointer;
}

.dropdown.open .button {
	border-bottom: 1px solid transparent;
	border-radius: 12px 12px 0 0;
}

.dropdown.open .button::after {
	position: absolute;
	inset: 1px;
	z-index: 0;
	border-bottom: 1px solid var(--color-disabled);
	border-radius: 11px;
	content: '';
}

.arrow {
	transition: transform 0.2s;
}

.arrowOpen {
	transform: rotate(180deg);
}

.placeholder {
	color: var(--color-text-caption);
}

.optionItem {
	display: flex;
	align-items: center;
	width: 100%;
	height: 32px;
	padding: 0 20px;
	color: var(--color-text-primary);
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&.selected {
		color: var(--color-primary-pressed);
	}
}

.dropdownListAbsolute > .optionItem:hover {
	background-color: var(--color-disabled);
}

.dropdownList {
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	width: 100%;
	margin-top: -1px;
	padding: 4px 0 8px;
	background-color: var(--color-surface);
	border: 1px solid var(--color-text-caption);
	border-top: none;
	border-radius: 0 0 12px 12px;

	.itemText {
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		text-overflow: ellipsis;
	}
}

.dropdownListAbsolute {
	position: absolute;
}

.noBorderDropdownList {
	padding: 12px 0;
	border: none;

	.dropdownListAbsolute > .optionItem {
		width: 100%;
		padding: 0;

		&:hover {
			background-color: var(--color-disabled);
		}
	}
}

.noBorderButton {
	width: 252px;
	height: 24px;
	padding: 0;
	border: none;

	&::after {
		border: none !important;
	}
}
