.option {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
  
    &.selected {
      color: var(--color-primary-pressed);
    }
  
    &:hover {
      background-color: var(--color-disabled);
    }
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }