.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .label {
    font-family: var(--font-roboto), serif;
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    height: 24px;
    color: var(--color-text-primary)
  }
  
  .input {
    display: none;
  }
  
  .customCircle {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;
  }
  
  .input:checked + .customCircle {
    border-color: var(--color-primary-pressed);
  }
  
  .input:checked + .customCircle::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--color-primary-pressed);
    border-radius: 50%;
    display: block;
  }