.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 324px;
	min-height: 368px;
	background-color: var(--color-surface);
	border-radius: 12px;
}

.user {
	display: flex;
}

.userPhoto {
	width: 100px;
	min-width: 100px;
	height: 100px;
	min-height: 100px;
	border-radius: 100px;
}

.userInfo {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-self: center;
	gap: 4px;
	max-width: 172px;
	margin-inline-start: 12px;
	font-weight: 400;
	font-size: 12px;
	font-family: var(--font-roboto), serif;
	line-height: 16px;
	word-break: break-all;
}

.userName {
	font-weight: 600;
	font-size: 20px;
	font-family: var(--font-open-sans);
	line-height: 24px;
}

.tags {
	display: flex;
	flex-direction: column;
}

.tagsContainer {
	display: flex;
	gap: 4px;
}

.aboutMe {
	height: 72px;
	margin-block: 20px 24px;
	overflow: auto;
	line-height: 24px;
	text-overflow: ellipsis;
}
