.button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: none;
	pointer-events: none;

	&::before {
		position: absolute;
		width: 87%;
		height: 75%;
		border-radius: 50%;
		cursor: pointer;
		clip-path: ellipse(50% 50% at 50% 50%);
		pointer-events: auto;
		content: '';
	}
}

.svg {
	display: block;
	pointer-events: none;
}
